DB_USER=postgres
DB_HOST=localhost
DB_NAME=gymmanager
DB_PASSWORD=tu_password
DB_PORT=5432
JWT_SECRET=tu_clave_jwt

MP_ACCESS_TOKEN=TEST-tu_access_token
MP_WEBHOOK_SECRET=
FRONTEND_URL=http://localhost:5173
BACKEND_PUBLIC_URL=https://tu-subdominio.ngrok-free.app